h1,
h2,
h3,
p,
ul,
li,
form,
button,
input,
textarea {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}

.headline {
  background-color: #640fc5;
}

nav {
  background-color: white;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-3 {
  flex: 3;
}

.flex-2 {
  flex: 2;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

main {
  position: relative;
  z-index: 1;
}

header {
  position: relative;
  z-index: 2;
}

.btn {
  border-radius: 50px;
  width: 100px;
}

.btn-primary {
  background-color: #0e6cff;
}

.btn-secondary {
  background-color: #ff8700;
}

.btn-ternary {
  background-color: #4caf50;
}