.btn {
  border-radius: 50px;
  width: 100px;
}
.btn-primary {
  background-color: $primary-color;
}
.btn-secondary {
  background-color: $secondary-color;
}
.btn-ternary {
  background-color: $ternary-color;
}
