$bckgroung-color: #640fc5;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
$ternary-color: #4caf50;
$text-color: #f4f4f4;
$bck-colo-nav: white;

.headline {
  background-color: $bckgroung-color;
}

nav {
  background-color: $bck-colo-nav;
}
